@media (max-width: 720px) {
  .btn {
    height: 150px;
    width: 150px;
    border-radius: 20px;
    border: 7px solid #000;
    margin: 1.5rem;
  }
}
@media (max-width: 600px) {
  .btn {
    height: 140px;
    width: 140px;
    border-radius: 20px;
    border: 6px solid #000;
    margin: 1.4rem;
  }
  h2 {
    font-size: 1.3rem;
  }
}

@media (max-width: 520px) {
  .btn {
    height: 140px;
    width: 140px;
    border-radius: 20px;
    border: 6px solid #000;
    margin: 1.4rem;
  }
  h2 {
    font-size: 1.1rem;
  }
}

@media (max-width: 450px) {
  .btn {
    height: 130px;
    width: 130px;
    border-radius: 18px;
    border: 5px solid #000;
    margin: 1.2rem;
  }
  h2 {
    font-size: 1.3rem;
  }
}

@media (max-width: 400px) {
  .btn {
    margin: 1.3rem;
  }
}

@media (max-width: 350px) {
  .btn {
    height: 110px;
    width: 110px;
    border-radius: 16px;
    border: 5px solid #000;
    margin: 0.9rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  h1 {
    font-size: 1.8em;
  }
  .level {
    font-size: 1.5rem;
  }
}

@media (max-width: 350px) {
  .btn {
    height: 100px;
    width: 100px;
    border-radius: 15px;
    margin: 0.7rem;
  }
  h2 {
    font-size: 1rem;
  }
  h1 {
    font-size: 1.6rem;
  }
  .level {
    font-size: 1.3rem;
  }
}
@media (max-width: 250px) {
  .btn {
    height: 80px;
    width: 80px;
    border-radius: 10px;
    margin: 0.5rem;
  }
  h2 {
    font-size: 0.9rem;
  }
  h1 {
    font-size: 1.3rem;
  }
  .level {
    font-size: 1rem;
  }
}
